DATABASE_URL="file:./prisma/dev.db"\nSMTP_HOST="smtp.mailtrap.io"\nSMTP_PORT="2525"\nSMTP_USER="YOUR_USER"\nSMTP_PASS="YOUR_PASS"\nMAIL_FROM="\"Velora\" <no-reply@velora.local>"\nMAIL_TO_ADMIN="admin@example.com"\nNEXT_PUBLIC_SITE_URL="http://localhost:3000"\n